# Temp files
*.asv
.DS_Store

# Data files
*.csv
*.mat
*.xls*
*.zip

# Text/writing/documentation
*.doc*
*.log
*.out
*.pdf
*.txt

# Image files
*.jpg
*.fig
*.png
GeneratePlots/*.eps

# Testing
arterial/code_tests/*
arterial/unused/*
TautString/unused/*
ehr/unused/*

# Other work
noiseDetectionECG/pan_tompkin.m

# Slurm files
*.sh
